body {
  box-sizing: border-box;
  background-color: beige;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 700px;
}

.container {
  display: flex;
  margin:20px;
  flex-direction: column;
  align-items: center;
  width: 300px;
  background-color:lightyellow;
}

.users {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
}

.age {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 5px;
}

.hobbies {
  margin: 5px;
}

.badStuff{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
}